[2013-05-06 14:30] rufuspollock opened #24 "Use info from http://datahub.io/dataset/uk-public-bodies"
Use info from http://datahub.io/dataset/uk-public-bodies

[2014-04-01 17:49] augusto-herrmann opened #60 "Add to repository all scripts that load publicly avaliable data"
We should create "scripts/import/XX" directories as needed in the repository to hold scripts to update the data, where avaliable from public sources. That way it would be much easier to keep the data up-to-date.

[2014-06-13 18:22] augusto-herrmann opened #64 "Specify source code license"
Is the license for the source code of this project (not the data, as that is a separate issue) specified somewhere? I couln't find it. Please include a (preferrably) open source license or, if there is already one, make it more evident (e.g. mention on the README and/or include a COPYING.txt file).

Note: it may be necessary to:
1. Suggest a propositional license here; and
2. Obtain consent from e

[2015-04-28 10:23] antontarasenko opened #67 "Russia: Public bodies from government contract system"
Website http://clearspending.ru/opendata/ collects data from the Russian government procurement system. The latest dataset http://clearspending.ru/download/opendata/customers-20150219.json.zip contains about 274K firms controlled by the government (SOEs and government units).

Example:
[code]

Anyone would like to add it here?

[2015-04-28 10:48] rgrp commented on #67
@danfowler would you be interested in taking a look here? PublicBodies is another nice DB that it would be good to find an ongoing maintainer for :-)

[2015-04-28 11:57] antontarasenko commented on #67
@ivbeg Can we use this data?

[2015-04-28 13:17] ivbeg commented on #67
Sure, you can use it. Also list of government suppliers available too http://clearspending.ru/download/opendata/suppliers-20150219.json.zip but this data could be often outdated.

Also we scraped all non-profit organizations - http://data.prongo.ru/dataset/nko-register-20140716 it's 1 year old but usable. About 300k organizations.

But before using the data it's important to know how it's organize

[2015-11-26 18:17] augusto-herrmann opened #68 "How the temporal dimension (ie. organizational reforms) be handled?"
Brazil has been through a quite comprehensive organizational reform recently, with many Ministries being merged, renamed, etc. I suppose this is quite common in other countries as well. So I'm opening this issue to discuss how this history of organizations should be handled (if at all) in this project. Ideas are welcome.

Some possibilities:
1. Do not store or link organizational history in any wa

[2016-01-19 11:22] augusto-herrmann opened #71 "fix ids for Swedish data"
Swedish data have blank cells for the 'id' column.
These should be fixed with a code that includes jurisdiction and local identifier:

`se/{local-id}`

as the example in http://data.okfn.org/data/okfn/public-bodies .

@todrobbins is working on generating slugs for the data.
Once #65 is solved we can also add the official local ids as well, as @mattiasaxell mentioned having that.

[2016-01-19 11:27] augusto-herrmann commented on #71
If you need help with the slug generation, just say so.

[2016-01-19 11:34] augusto-herrmann opened #72 "implement new import scripts to update Brazilian data"
The Brazilian dataset is quite outdated. Especially as a recent organizational reform changed a lot of Ministries.

The source dataset has changed a lot too. Used to be a big XML dump (this is what the [import scripts](https://github.com/okfn/publicbodies/tree/master/scripts/import/br) used to read), but now it's a [RESTful API](http://dados.gov.br/dataset/siorg) using JSON. The data model and fie

[2016-01-19 12:12] augusto-herrmann opened #73 "add resources to datapackage.json"
The `datapackage.json` file describes the publicbodies dataset according to the [Tabular Data Package](http://dataprotocols.org/tabular-data-package/) specification. It currently references only the `data/gb.csv` resource. Should be updated with references to all resources in the dataset.

Note: considering each resource has to list all fields in the schema, in order to save some repetitive work,

[2016-01-19 12:51] augusto-herrmann commented on #60
[Tuttle](https://discuss.okfn.org/t/a-tool-for-collaborating-on-datapackages/1397) is also one to consider.

[2016-01-19 16:24] rgrp commented on #60
@augusto-herrmann personally i would keep this super simple and just put scripts in the scripts directory with a README on how to run them ;-)

[2016-01-19 16:26] rgrp commented on #73
@augusto-herrmann great. I also note that Data Package spec supports shared schema http://dataprotocols.org/data-packages/#resource-schemas

[2016-01-19 18:30] todrobbins commented on #73
👍

@augusto-herrmann I can update the `datapackage.json`, unless you are already in process. Thanks for bringing this to the forefront!

[2016-01-19 21:23] todrobbins commented on #71
@augusto-herrmann if you could take over, that would be great.

[2016-01-28 11:43] danfowler opened #74 "Adding publicbodies as IATI codelist"
As suggested by @timgdavies [here](https://github.com/openspending/fiscal-data-package/issues/13), we should submit a code for PublicBodies.org to IATI's [Organisation Registration Agency codelist](http://iatistandard.org/202/codelists/OrganisationRegistrationAgency/).

Related: https://github.com/okfn/publicbodies/issues/41

Something like this?

| Code | Name | Description | Category | URL | Pub

[2016-01-28 12:15] danfowler commented on #74
@rgrp thoughts?

[2016-01-28 16:02] timgdavies commented on #74
+1

[2016-01-28 16:05] bill-anderson commented on #74
Will forward this to IATI Tech Team. Takes 2 weeks to process (I think)

[2016-01-28 17:04] rory09 commented on #74
Hello all,

This looks great! I've just added it to our non-embedded codelist consultations - see [here](http://support.iatistandard.org/entries/107809263-Add-Organisation-Registration-Agency-for-publicbodies-org).

I'm just thinking - when constructing an [IATI Ogranisation Identifier](http://iatistandard.org/202/organisation-identifiers/), the regex `[^\/\&\|\?]+` has to be satisfied. This was p

[2016-01-29 02:43] augusto-herrmann commented on #73
A very pertinent  observation, @rgrp, thanks!

I only really looked into this matter today. It seems the current `datapackage.json` is not passing schema validation with goodtables.

[code]
But goodtables does not give a detailed description on what the actual problem preventing validation was.

@todrobbins, feel free to assign this issue to yourself if you're already into it.

[2016-01-29 09:08] danfowler commented on #73
Hi @augusto-herrmann goodtables expects a JSON Table Schema ([example](https://raw.githubusercontent.com/okfn/tabular-validator/master/examples/hmt/bis-modified.json)), not the full `datapackage.json`.

That being said, several updates to the `datapackage.json` do need to be made to match the current specification.  For example, `license` should probably be changed to an object (not an array), a f

[2016-01-29 09:26] rgrp commented on #74
@rory09 how does IATI (or specs that IATI references) generally handle "country code + in country identifier" stuff? The reason for the `gb/` was actually so that it worked in urls in that you had the country then the within country identifier?

[2016-01-31 12:56] rgrp commented on #73
@danfowler great points. As an aside re goodtables can we raise an issue on goodtables about it supporting tabular data packages out of the box?

[2016-02-01 11:56] augusto-herrmann commented on #73
A very keen observation, @danfowler.
+1 for @rgrp's suggestion. It would be very useful to check for correctness of tabular data packages on the CLI with goodtables.

[2016-02-01 12:48] rory09 commented on #74
Hi @rgrp - that's interesting. The central difference with IATI is that we use identifiers as string references within XML attributes. So, for instance, if a publisher were to declare a [participating organisation](http://iatistandard.org/201/activity-standard/iati-activities/iati-activity/participating-org/) within an IATI activity, they would want to include the following line of XML:

[code]

h

[2016-02-01 13:41] augusto-herrmann commented on #68
An use case related to this is on the [first draft](https://joinup.ec.europa.eu/asset/cpov/asset_release/core-public-organisation-vocabulary-draft-1#comment-17591) of the [Core Public Organization Vocabulary](https://joinup.ec.europa.eu/asset/cpov/description) (cpov):

following elections. A core vocabulary describing public organisations, allows to track
these changes over time.

structure and re

[2016-02-01 17:10] augusto-herrmann commented on #71
Ok, @todrobbins, I've got it for now.

Before considering this issue closed, @mattiasaxell please check if the generated ids are acceptable.
* method of slug generation considered the closest latin character, discarding diacritics
* for word tokenization I used the simple Python's .split() function, don't know whether or not this is acceptable for Swedish language
* there are some duplicate ids (s

[2016-02-04 15:14] mattiasaxell commented on #71
@augusto-herrmann Great. I have checked and I believe the split function may be OK, looks good to me at least. @peterk do you know if Python's .split() function is OK for Swedish language?

@augusto-herrmann They are correct. The duplicate ids like habo is there because there is Habo Kommun (Municipality) and H**å**bo Kommun. I'm suggesting to change Håbo to `se/haabo-kommun`.

[2016-02-05 18:22] todrobbins commented on #71
@augusto-herrmann @mattiasaxell :+1: This looks great. Thanks for solving this Augusto!

Pending @peterk's review, I think we're ready to merge.

[2016-02-06 11:06] peterk commented on #71
@mattiasaxell @todrobbins split() is fine for word tokenization. Please note that you may end up with dupes if you do closest latin char substitution. Also I noticed there may be some need for data normalization in the url and org id fields.

[2017-05-05 23:54] alainsr opened #78 "Suggestions for updating/enhancing fields"
Checking the fields at http://data.okfn.org/data/okfn/public-bodies, I can think of many useful, practical informations that would be handy to have.

Brazilian public bodies' entries contain many relevant info but they're dumped in the "description" field, for example, such as law of creation (law n. 11.234/1900), keywords regarding the institution's activity ("research", "education", "legal", "in

[2017-05-06 15:54] todrobbins commented on #71
@augusto-herrmann @mattiasaxell @peterk I'm going to review the URL normalization and commit/merge accordingly.

[2017-05-06 16:00] todrobbins commented on #72
@augusto-herrmann are you interested in taking this or should I move forward with this script?

[2017-05-06 16:03] todrobbins commented on #73
@augusto-herrmann @danfowler @rufuspollock did Tabular Data Package support ever land in Good Tables? I'm currently working on a review of our `datapackage.json`and would appreciate any new insights to inform that process.

[2017-05-06 16:07] todrobbins commented on #73
@pwalsh can you confirm? Looks like frictionless-data/goodtables-py #66 was merged and tested.

[2017-05-08 08:46] timgdavies commented on #74
Public bodies is in the http://org-id.guide codelist that will shortly replace the IATI list (http://org-id.guide/list/XI-PB)

I don't think the '/' character substitution issue has been resolved yet.

[2017-05-08 17:52] todrobbins commented on #74
Thanks for the update @timgdavies.

[2017-05-10 06:40] danfowler commented on #73
Hi @todrobbins [goodtables-py](https://github.com/frictionlessdata/goodtables-py) and [goodtables.io](http://goodtables.io/) can both work with the `datapackage.json`.

[2017-05-10 06:53] danfowler commented on #73
@todrobbins @augusto-herrmann @rufuspollock @pwalsh  so now that goodtables.io supports Data Packages, we need to update this Data Package to the latest specs: http://specs.frictionlessdata.io/.  Goodtables.io doesn't like how it is currently structured:

<img width="1225" alt="screen shot 2017-05-10 at 13 50 36" src="https://cloud.githubusercontent.com/assets/772616/25886466/dfddcd7e-3587-11e7-9f

[2017-05-20 05:59] VladimirAlexiev opened #81 "how often is eu updated?"
http://publicbodies.org/eu/dg-infso

But DG-INFSO has been replaced with DG-CONNECT (DG-CNNECT) since Jul 2012:
https://ec.europa.eu/digital-single-market/en/news/whats-name-dg-connect-replaces-dg-infso. You don't have CONNECT in http://publicbodies.org/eu/

1. Forgive me for saying it, but if your EU list is 5 years obsolete, this compromises the whole idea of using http://publicbodies.org/eu/ UR

[2017-05-20 06:05] VladimirAlexiev opened #82 "include official website"
IMHO, if you don't have at least the official website of the organization, that makes the whole dataset nearly useless.

Eg in #81 I wondered why DG-INFSO appears but not DG-CONNECT. For someone who doesn't know these abbreviations, the official website is a crucial piece of info to figure out what you are referring to. These websites:
- should be checked automatically and regularly
- a broken lin

[2017-05-20 06:34] VladimirAlexiev commented on #74
@timgdavies are you speaking on behalf of IATI?

@todrobbins XI-PB is included in http://iatistandard.org/202/codelists/OrganisationRegistrationAgency/, so you can close this issue

The "slash vs underscore" issue reflects a big difference in philosophy, so I believe it merits a new issue to be opened: https://github.com/IATI/IATI-Codelists-NonEmbedded/issues/152

"Does this mean when an official

[2017-05-21 15:56] timgdavies commented on #74
@VladimirAlexiev I don't speak for IATI - but the issue where this change is proposed and so far has had no objections can be found at https://discuss.iatistandard.org/t/migration-of-organisationregistrationagency-codelist-to-org-id-guide/851

[2017-05-22 09:08] VladimirAlexiev commented on #74
Thanks for the info!

[2017-05-22 10:04] rory09 commented on #74
Apologies all, this is my personal email and I think these emails have been
falling foul of an overzealous filter I set up to deal with github
notifications.

Thank you Tim for clearing this up. I should mention that whilst I used to
be a part of the IATI secretariat, I'm no a member of Open Data Services
Co-operative along with Tim, so I also don't speak for IATI. That being
said, I've worked wit

[2017-05-22 16:48] todrobbins commented on #82
@VladimirAlexiev thanks for stopping by! Great suggestions for the project. This project has been somewhat dormant until very recently, so we're just gathering steam to get it up to date. We would appreciate any help you can offer.

Cheers!

[2017-07-31 20:24] augusto-herrmann commented on #78
Nice observations about the data in the Brazilian data! We should definitely include those as optional in the schema, IMO.

Maybe we could start expanding the fields in the schema by adopting the fields [Core Public Organization Vocabulary](https://joinup.ec.europa.eu/asset/cpov/asset_release/core-public-organisation-vocabulary-v100) of the EU. That would also make the data exportable to this stan

[2017-07-31 20:28] augusto-herrmann commented on #72
Sure, but @todrobbins before I work in this, I'd like to confirm whether or not you actually did any work in it already, considering a couple of months have passed since then.

[2017-08-01 12:29] rufuspollock commented on #72
@augusto-herrmann i don't believe @todrobbins has done any specific work here so please go ahead!

[2017-08-03 14:21] todrobbins commented on #72
@rufuspollock is correct as I have not done any work in this area. Carry on!

[2017-09-11 14:22] augusto-herrmann commented on #72
I am having difficulty with this as I am unsure about how to handle the changes in organizational structures and how to map identifiers between versions of the organizational structure. I think we need to solve issue #68 before properly handling this.

Alternatively, I could just naïvely run the scripts to obtain the latest version without caring about keeping the ids consistent between the versio

[2017-09-11 14:28] augusto-herrmann commented on #71
One thing we should take into account when assigning ids based on an organization's name is how to keep track of changes in its name and structure (as discussed on #68). Just something to keep in mind. I'm having difficulties with this while trying to update the Brazilian data (#72).

[2017-09-11 14:37] augusto-herrmann commented on #67
@ivbeg, could you elaborate a little bit more about the multiple unique identifiers available for Russian public entities?

What do you suggest we use for ids? Most countries in publicbodies.org use a slug generated from the full public entity name, some use an acronym and Italy uses a number. If we use something based on the name or acronym, should the slug be based on the original Cyrillic or a

[2017-09-11 15:21] ivbeg commented on #67
@augusto-herrmann sure.

We have major updates since that time.
1. Each Russian public body is part of budget process so they have unique budget code ("record num") like "463Ц5852" that could include cyrillic letters. So it's not so good for unique urls generation.
2. It's better to use INN. It's unique code for each organization in Russia. It's 10 digits code with 9 meaningful digits and 1 digit

[2017-09-11 16:42] rufuspollock commented on #67
@ivbeg happy to credit APICrafter and we'd love to get this dataset integrated.

[2017-09-11 16:46] rufuspollock commented on #68
@augusto-herrmann my instinct is the simplest way to handle this is to add three columns to the tables:

* `status`: with values like `active` and `obsolete`
* A timespan for the validity/existence of a body
  * `from`:
  * `to:` (this would be blank if body is still extant)

There's also move about what replaces it but i think this gets really complicated quickly and could go in the notes fields

[2017-09-11 16:46] rufuspollock commented on #72
@augusto-herrmann i've commented in #68. do you want to try something like that here?

[2017-09-11 16:50] rufuspollock commented on #71
@augusto-herrmann good point - if the org name changes, is it the same? My sense would be to say "no" in some sense.

[2017-09-12 02:10] jpmckinney commented on #68
@rufuspollock I think `from` and `to` are handled by the existing fields `founding_date` and `dissolution_date` (taken from Schema.org), unless I'm misunderstanding something.

I'm not fond of `status` fields (though I know they are common). I prefer a data model that is 'append-only' (it makes it easier to track changes over time) and where the status is derivable from other facts. So, a status o

[2017-09-12 09:02] rufuspollock commented on #68
@jpmckinney sounds good.

@augusto-herrmann so I think we should go for `founding_date` and `dissolution_date` and leave `status`.

We can put some unstructured or semistructured info in the notes field about how the change related to other orgs (i don't think we are in a position to standardize this yet and suggest you make something up for brazil and once we have trialled that a bit we can revis

[2018-07-16 11:34] augusto-herrmann commented on #74
Indeed it included there. @VladimirAlexiev thank you for pointing it out.

However, the line has some information that I think is incorrect. In particular the `Category` and `Public Database?` fields:

Code | Name | Description | Category | URL | Public Database?
-- | -- | -- | -- | -- | --
XI-PB | Public Bodies - Open Knowledge Foundation | Public Bodies is an Open Knowledge Foundation (OKF) proj

[2018-07-16 14:34] augusto-herrmann commented on #73
I tried updating `datapackage.json` to current specification [on a local branch](https://github.com/augusto-herrmann/publicbodies/tree/issue-73). On my local machine it validates:

[code]

But goodtables.io never finishes the job (and I have no idea why it would take long, anyway, considering that on my local machine it validates quite fast).

Also, some of the CSV files do present validation erro

[2018-07-16 16:09] augusto-herrmann commented on #73
@rufuspollock that link no longer works. I could not find a "shared schema" anywhere in the current specifications. I have thus created [a topic on the Frictionless Data forums to discuss it](https://discuss.okfn.org/t/shared-table-schema/6969).

[2018-08-06 20:12] augusto-herrmann opened #84 "Greece: data has duplicate rows"
[Goodtables](https://github.com/frictionlessdata/goodtables-py) detected some duplicate rows in Greece's data:

[code]
@okfngr, or anyone else who can verify this, is it ok to delete the duplicated rows in the data?

[2018-08-06 20:15] augusto-herrmann opened #85 "Nepal: data has duplicate rows"
[Goodtables](https://github.com/frictionlessdata/goodtables-py) detected some duplicate rows in Greece's data:

[code]
@nikeshbalami, or anyone else who can verify this, is it ok to delete the duplicated rows in the data?

[2018-08-06 20:25] augusto-herrmann opened #86 "US: data has duplicate row"
Goodtables detected a duplicate row in Greece's data:

[code]

@todrobbins, or anyone else who can verify this, is it ok to delete the duplicated row in the data?

[2018-08-06 20:35] augusto-herrmann opened #88 "Brazil: update data from new data source"
Brazil's data on public bodies has moved to a new data source: a [data API](http://dados.gov.br/dataset/siorg).

However, the schema is different. Some fields that were available before are no longer available, so a merge strategy should be considered in order not to lose that information.

Also, the federal government structured has changed many times since we last updated publicbodies.org. So I

[2018-08-07 14:31] todrobbins commented on #86
Your #87 resolved this one. Thank you @augusto-herrmann!

[2018-08-07 14:31] #86 closed

[2018-08-10 19:00] augusto-herrmann commented on #73
With this PR `datapackage.json` is up to speed.

[2018-08-10 19:00] #73 closed

[2018-08-10 19:03] augusto-herrmann opened #91 "Add continuous data validation to the repository"
We should use [continuous data validation](https://discuss.okfn.org/t/launching-goodtables-io-tell-us-what-you-think/5165) to automatically check and validate new data to the schema, whenever new data is pushed into the repository.

[Goodtables.io](https://goodtables.io) seems to be a good candidate for that job.

[2018-08-15 13:37] augusto-herrmann commented on #85
@todrobbins, I think it's safe to accept this PR, right?

[2018-08-15 13:38] augusto-herrmann commented on #84
@todrobbins, I think it's safe to accept the [PR](/okfn/publicbodies/pull/89), right?

[2018-08-15 18:32] augusto-herrmann commented on #88
I've just noticed that this issue is a duplicate of #72, so I'm closing it.

[2018-08-15 18:32] #88 closed

[2018-08-20 09:08] nikeshbalami commented on #85
Hi @augusto-herrmann, so sorry I misplaced the notification email previously. Thank you so much for removing the duplicated rows and submitting the PR. Hope it will be merged soon 👍

[2018-08-20 14:12] augusto-herrmann commented on #85
Thanks for the feedback, @nikeshbalami.

[2018-08-20 14:12] #85 closed

[2018-08-21 13:31] augusto-herrmann opened #93 "[Switzerland] Incorrect data in url field"
There seem to be extra spaces in the URL of the public body at line 235 of `data/ch.csv`.

[code]

This should be easy to fix.

[2018-08-22 14:15] augusto-herrmann opened #95 "[Germany] invalid e-mail addresses in the data"
[Goodtables](/frictionlessdata/goodtables-py) detects some problems in the data for Germany in [`data/de.csv`](/okfn/publicbodies/blob/master/data/de.csv):

[code]

For lines 352, 367 and 603, it looks like it might be missing a ".de" suffix. Especially considering that, in all those cases, the `uri` field contains a domain that would match the domain of the e-mail if we added a ".de" TLD.

Line 7

[2018-08-22 14:19] augusto-herrmann commented on #95
Actually, line 776 looks like this:

[code]
It seems it was just a header that was incorrectly put in the middle of the file. Perhaps as a result of concatenating two different CSVs. I propose just to just delete the line.

[2018-08-24 22:00] augusto-herrmann opened #97 "[Great Britain] incorrectly formatted URIs for public bodies"
[Goodtables](/frictionlessdata/goodtables-py) detects some problems in British data on `data/gb.csv`:
[code]
Lines 13. 221. 1240 and 2277 are easily fixable by adding the schema part of the URI (http or https).
Line 5206 should just have an empty field for URI instead of the value "none".

[2018-08-24 22:29] augusto-herrmann commented on #97
### Aberdeen City Licensing Board
Website no longer works and the URL gives a 404 error. After some searching, found out [a new URL for it](https://www.aberdeencity.gov.uk/services/business-and-licensing/licences-and-permits/licensing-board).
### Assessor for Dunbartonshire and Argyll and Bute Valuation Joint Board
URL still works, just add http.
### Devon Procurement Services
URL no longer works.

[2018-08-24 22:34] augusto-herrmann commented on #97
@rufuspollock, since you contributed the file `data/gb.csv`, would you care to take a look at the [PR](https://github.com/okfn/publicbodies/pull/98)?

[2018-08-30 18:34] augusto-herrmann commented on #91
Even though the PR is merged, I think we should leave this issue open until we can sort out the problem with Goodtables.io.

[2018-09-13 00:18] todrobbins commented on #84
Thanks for all the recent work, @augusto-herrmann and @rufuspollock! I need to check my GitHub notifications more often...

[2018-09-13 00:19] todrobbins commented on #84
@augusto-herrmann, are we good to close this issue due to #89?

[2018-09-13 17:56] augusto-herrmann commented on #84
Sure! I thought I had done so already. It seems that I forgot to for some reason.

[2018-09-13 17:56] #84 closed

[2019-09-23 19:13] augusto-herrmann commented on #97
Issue fixed!

[2019-09-23 19:13] #97 closed

[2019-09-23 19:15] augusto-herrmann commented on #95
Issue fixed!

[2019-09-23 19:15] #95 closed

[2019-10-22 13:05] augusto-herrmann commented on #91
The issue with Goodtables.io has been [fixed](https://github.com/frictionlessdata/goodtables.io/pull/330). Thanks, @roll !

[2019-10-22 13:05] #91 closed

[2021-02-15 23:16] loleg opened #102 "In need of maintenance!"
This code has been untouched for a number of years, and could use some developer love. Even though it is a frontend to a static database, so security warnings are not _especially_ worrying - there are people around the world who may be depending on this content being accessible. Adding SSL certificates, checking up on some overdue issues, and of course updating the underlying datasets is something

[2021-02-16 01:20] tfmorris commented on #102
Your profile says that you're a member of OK*, so you should have the privileges to do this yourself. If you need help, @rufuspollock merged the last PR, so might be a good resource for questions.

[2021-02-16 11:11] rufuspollock commented on #102
@loleg happy to make you a maintainer here if you don't already have access 😄  - and yes would be great to have some love here ... ❤️

[2021-02-16 14:14] loleg commented on #102
Thanks Rufus, but I have quite a lot on my plate as it is, and am just
housekeeping here. To increase the chance of someone stepping in here, I
would suggest adding some:

- Links to relevant community threads / places to contact data maintainers,
e.g. https://github.com/OpendataCH/public_bodies_of_the_swiss_federation
- Analytics of web traffic or other metrics to aim for
- Comments on short/medi

[2021-02-17 19:20] augusto-herrmann commented on #102
For a while I have been meaning to update the Brazilian public bodies dataset and extraction tools (#72). I also would like to advance the data modelling (e.g. #68). This might be a good time to actually do it.

However, I also think that we probably need a new frontend, cleaning/updating other country datasets, finding data maintainers, etc., and I don't have the time to do it all.

[2021-02-17 19:50] rufuspollock commented on #102
@augusto-herrmann i think if you update the data we can probably find a way to sort frontend.

[2021-02-18 12:04] augusto-herrmann commented on #102
Amazing!

Considering the Open Data Day is coming soon, I think this could be a good ODD project to do.

[2021-04-14 19:18] augusto-herrmann opened #103 "Fix phone number information on schema and tables"
We currently do not have a field for phone numbers. Most files don't contain them, but some put them into `contact` – which is incorrect, as per the schema, that field is for an address for mail that is different from the main address, if present.

[2021-04-14 19:51] augusto-herrmann commented on #82
As we already have the `url` field and your suggestions pertain more to link health verification than actual inclusion of one, I've renamed the issue.

[2021-04-14 19:54] augusto-herrmann commented on #102
I have not managed to do this by the time of the ODD, but I have now proposed including a field (#104) and will soon update the `br.csv` data.

[2021-04-15 20:32] augusto-herrmann commented on #72
I did not handle or track in time the changes to the structure of public bodies in this PR. There are too many changes over so many years, that it would take an "epic" effort to be able to do that. I don't even think that the structure at a certain point in time is available as open data, so that would be difficult to obtain if not outright impossible.

For now, we just replace the file with the c

[2021-04-15 20:40] augusto-herrmann commented on #102
Done! I've left #104 and #105 up for review for anyone interested and with some time to do it. However, if time goes by and nobody is available, I'll merge them myself.

Maybe this already qualifies for closing this issue. @loleg WDYT?

@rufuspollock we now have links to images (logos or main building photos) of several public bodies. It would be nice to display them on that UI revamp you mentione

[2021-04-16 13:32] loleg commented on #102
I think that is a great idea, though I don't maintain the morph.io scraper it should be straightforward to port here. Thanks very much for the update!

[2021-04-16 17:31] #72 closed

[2021-04-16 17:32] #103 closed

[2021-04-18 00:40] augusto-herrmann opened #106 "Define an user agent for scripts and crawlers"
Well behaved scripts and crawlers should always send a custom, non-default user agent. We should:

- [x] define an user agent string for the scripts and crawlers that update publicbodies.org,
- [x] change scripts to use it, and
- [x] add instructions for script / crawler developers on using the proper user agent.

[2021-04-19 15:53] loleg commented on #102
As to closing the issue: feel free to do it. I think though a ticket like this is a good little flag to gain people's attention.

[2021-04-19 18:56] augusto-herrmann commented on #102
Of course, @loleg. Thanks for calling attention, as this project had been dormant for a while.

Let me first check the things you mentioned when you opened it.

I've just checked, the publicbodies.org has https enabled and a valid TLS certificate just fine. It expires on August 13th, 2021.

As for the overdue issues, I've looked into some, but I still think it would be worth to review all open iss

[2021-04-19 18:56] #102 closed

[2021-04-21 12:20] loleg opened #107 "SSL sign up issues"
While an SSL certificate is present on the site (thanks Augusto in #102 for checking), HTTP is not redirected to HTTPS as it should. Furthermore, the site is shown as not completely secure because the absolute link to the newsletter sign-up is to an HTTP resources. We should probably just point this to the GitHub issues and appropriate Discourse forum.

The specific error in the dev console is:

`

[2021-04-21 19:16] augusto-herrmann commented on #107
I have replaced the HTTP link on that old form in PR #108.

For the HTTP -> HTTPS redirection to work, however, it would be necessary to change the application code. But this is ancient node.js, and before changing it it would be advisable to upgrade it to a more recent node.js version. That also means updating / getting rid of all those deprecated and obsolete dependencies:

[code]

I tried to do

[2021-04-22 11:22] augusto-herrmann opened #110 "Update website to use a modern / currently supported stack"
The website uses very early node.js and express framework. Most libraries used are either deprecated, have been substituted for new versions (e.g. `jade` -> `pug`) or are no longer supported. `npm` reports that the package versions used have many vulnerabilities, some of which are classified as "high" and "critical".

As per the log when trying to run it on node.js 12:

[code]

We need to port the

[2021-04-22 13:05] augusto-herrmann commented on #107
I created issue #110 and drafted PR #111 to try to solve this. Once we can get the site running on modern code, I think adding the HTTP -> HTTPS redirect should be easy.

[2021-04-22 15:03] mattiasaxell commented on #78
@augusto-herrmann Thanks for linking me here. Yeah it sounds like that this is a better reference mentioned by you in the forum! I believe that one doesn't cancel out the other. It seems that [Core Public Organisation Vocabulary](https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic/solution/core-public-organisation-vocabulary/about) has been deprecated and replaced by
[

[2021-04-25 19:43] augusto-herrmann commented on #78
Those are excellent suggestions, @mattiasaxell ! Thanks for looking it up.

Would you like to also take a look at the fields present in the e-Government Core Vocabularies and make a map of what we would need to change in the schema here to make it compatible / compliant?

As for the Swedish data we have here, I believe they are probably very outdated. If there is someone here knowledgeable about S

[2021-04-25 19:50] mattiasaxell commented on #78
@augusto-herrmann Thanks! No worries.

I can try and have a go later yes.

Yeah they are very outdated. I know since I added and updated them last time. However I think the issue here it that it does not make a lot of sense to try to keep it up do date in Sweden from volunteer efforts when the original data source is not open data, published nor  coordinated by the owners of different data. I'd ra

[2021-04-25 19:50] augusto-herrmann commented on #71
What about "[Rättshjälpsmyndigheten](https://github.com/okfn/publicbodies/blob/master/data/se.csv#L435)", @mattiasaxell ? I believe this line is really duplicated, considering that both entries share the same email address. They have different Boxes in the `address` field, but overall the second entry contain less empty fields. I propose we keep only the second line there for now, until we find a

[2021-04-25 20:31] augusto-herrmann commented on #78
Sure. Let's do what is possible for the moment, then.

If even one of the many data sources is published as open data, or even on a website that could be scraped, it might be worth the effort to automate the data collection like I did recently for Brazilian data, in order to have a partially updated dataset. Additionally, when and if someone has the time and energy to support the data owners in op

[2021-04-30 23:55] augusto-herrmann opened #113 "br: fix urls that are malformed at the source"
Goodtables reports that the `br` data has some entries which are not valid urls. Extra white space around and in the middle of those entries make them invalid. This can be easily fixed by the import script.

[2021-05-03 08:37] #71 closed

[2021-05-03 08:37] #113 closed

[2021-05-26 23:03] augusto-herrmann commented on #106
Based on [some best practices](https://developers.whatismybrowser.com/learn/user-agent-best-practices/) and [examples](https://gist.github.com/JoeyBurzynski/9953198b825b9a8675715220586fb494) I've find, I propose

`PublicBodiesBot (https://github.com/okfn/publicbodies)`

Considerations:
* the `Mozilla` bit should probably be kept out of it, considering we're not emulating a browser
* no version num

[2021-05-28 02:04] augusto-herrmann opened #115 "Automate deployment of website / continuous delivery"
Whenever new commits are merged to master, if all tests pass, the code should probably be automatically deployed to the production environment.

So far we only have data tests, but once we have some test coverage on the code as well, it should be a step toward having continuous delivery.

[2021-05-28 02:39] #64 closed

[2021-06-12 12:27] mattiasaxell commented on #78
@augusto-herrmann Yeah sounds great.

OK, that sounds great. Starting a new issue now.

It might be worth it to write a data specification for a dataset about this? We could use ReSpec https://respec.org/docs/ which is open source: https://github.com/w3c/respec and use https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic/solution/e-government-core-vocabularies ?

[2021-06-12 12:38] mattiasaxell opened #116 "Updating and organizing contact data for public bodies in Sweden"
Hi @augusto-herrmann opening a new issue here about public bodies for Sweden. Currently data can be officially fetched from [national authorities registry](http://www.myndighetsregistret.scb.se/) (unfortunately not open data) and automatically fetch open data from distributions for [municipalities](https://www.dataportal.se/sv/datasets/653_26811/kontaktuppgifter-till-kommunerna#ref=?p=1&q=&s=2&t=2

[2021-06-12 13:20] salgo60 commented on #116
@mattiasaxell
1) cant you take the public bodies from Wikidata ? Some examples what you want the we can help you easier examples Swedish municipalties , myndigheter....
    1) FYI Wikidata data is CC-0 so its just to use
1) My suggestion is to create a WIkidata Proposal - I started here [link](https://www.wikidata.org/wiki/Wikidata:Property_proposal/Handlingar.se)
    1) questions: do we have a re

[2021-06-12 13:58] Ainali commented on #116
That data is without copyright. I wrote to them and asked and their 'verksjurist' confirmed that:

So I have imported a lot of it to Wikidata already.

[2021-06-13 22:35] salgo60 commented on #116
FYI: @mattiasaxell status Sveriges Kommuner och Regioner (SKR) dataset

[Kontaktuppgifter till kommunerna](https://www.dataportal.se/sv/datasets/653_26811/kontaktuppgifter-till-kommunerna#ref=?p=1&q=&s=2&t=20&f=http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2Fpublisher%7C%7Chttps%3A%2F%2Fcatalog.skl.se%2Fstore%2F1%2Fresource%2F1%7C%7Cfalse%7C%7Curi%7C%7COrganisationer%7C%7CSveriges%20Kommuner%20och%20Regioner

[2021-06-14 14:11] augusto-herrmann commented on #24
It seems this dataset in Data Hub hasn't been updated since 2013.

![Screenshot 2021-06-14 at 10-59-14 UK Public Bodies - the Datahub](https://user-images.githubusercontent.com/1058414/121905958-0657a280-cd01-11eb-88a3-7f00d4ac1d68.png)

And the url from reference.data.gov.uk gives a 404 not found error now.

Considering this issue has been stale for years, I'm closing it now. We can open another

[2021-06-14 14:11] #24 closed

[2021-06-14 14:16] augusto-herrmann commented on #78
I think we could indeed write a textual specification once it becomes stable enough. For now, to finish this current issue I think we should at least be able to make a proposal for a new set of tables and fields we are going to use, after reviewing the core vocabularies of course.

[2021-06-14 18:19] salgo60 commented on #116
@mattiasaxell I used OpenRefine and matched your file with Wikidata see new file with extra fields
* See [comments / potential errors](https://github.com/salgo60/okfnLocal/blob/main/README.md)
  * version 1 of [matched file](https://github.com/salgo60/okfnLocal/blob/main/public-se-csv.csv) / [raw csv file](https://raw.githubusercontent.com/salgo60/okfnLocal/main/public-se-csv.csv)

[2021-08-16 12:56] augusto-herrmann opened #117 "Prevent Github Actions bot from running by default on forks"
Currently, any updated forks of this repository will run Github Actions, which will trigger the update bot. This might overload the data source servers, and potentially cause reason for them to block our update bots.

We need to figure out some configuration so that by default the update bots would only run on the main repository, not forks.

[2021-08-16 14:34] loleg opened #119 "Connect with Govdirectory"
Came across this startup project today at Wikimania that has parallels what we have been doing here: [Govdirectory](https://www.wikidata.org/wiki/Wikidata:WikiProject_Govdirectory) is "a global user-friendly directory of government agencies and their online presence". On the topic of revitalising our efforts here (#102), connecting with them should be interesting.

See also this recent [forum post

[2021-08-17 13:43] #117 closed

[2021-08-17 14:31] augusto-herrmann commented on #119
Good find! I see that you have already started an issue there, but I also started [a discussion](https://github.com/govdirectory/website/discussions/93), which does not necessarily have to lead to something that has to be "solved" and is more free-form.

BTW, I noticed that we do not have discussions enabled here on this repository. But if we need a forum, we could create one under the [OK Labs](h

[2021-08-17 18:03] augusto-herrmann commented on #117
@loleg, could you please update the [OpendataCH/publicbodies](https://github.com/OpendataCH/publicbodies) fork? Because of the bug that was fixed here, the update bot was running on all recent forks (worse, scheduled to hit at the same time), which could potentially overwhelm data source servers and be interpreted as a DoS attack, which could get us banned.

[2021-08-18 11:25] loleg commented on #119
Re the forum, using discuss / Discourse sounds best to me since that's where many threads already exist: https://discuss.okfn.org/search?q=publicbodies

[2021-09-05 19:07] augusto-herrmann commented on #115
I cannot configure automatic deployment to Heroku from this repository. The `okfn` organisation does not appear among the options available to select, even after I've authorized Heroku on Github's OAuth:

![heroku-deploy](https://user-images.githubusercontent.com/1058414/132138397-42972cfe-198e-471b-b9af-374853da0a25.gif)

I think the reason is probably because I'm not a *member* of the `okfn` org

[2021-09-07 03:11] todrobbins commented on #115
@augusto-herrmann I think you're right that it has to do with OKFN membership. Unfortunately, I'm only a member and cannot add you.

[2021-09-08 13:00] augusto-herrmann commented on #115
Thanks @todrobbins for looking it up. So unless you have time to set up the deployment of this repo yourself, I guess we're going to have to wait until @rufuspollock can add me as a member.

[2021-09-08 17:31] todrobbins commented on #115
![Screen Shot 2021-09-08 at 11 30 24 AM](https://user-images.githubusercontent.com/158590/132556787-9bb635c3-881c-4879-9d7a-7170fa305b64.png)

I connected the repo and enabled automatic deployment and also just kicked off a manual deploy.

[2021-09-09 12:45] augusto-herrmann commented on #115
Yay, thank you @todrobbins! :tada:

Now I can finally try to merge PR #111. Once it is merged, though, I'm not sure if deployment to Heroku will happen via their direct Node.js support or building a Docker container, so I still may need to make some adjustments in Heroku. Let's hope my permissions are enough to do it.

[2021-09-09 12:45] #115 closed

[2021-09-11 15:56] augusto-herrmann opened #121 "Fix the problem with Google Fonts"
As the site migrated to modern Node.js (#111), the fonts are broken in the page's text.

It seems like the Google Fonts are being blocked for using mixed content:

![Bildschirmfoto vom 2021-09-11 12-53-42](https://user-images.githubusercontent.com/1058414/132953719-5c7979ac-2b06-4d04-b5d9-6aa095c8d111.png)

Happens in Firefox 92.0 (64-bit) and also Chromium 90.0.4430.212.

We need either to solve

[2021-09-22 17:16] #107 closed

[2021-09-29 02:42] augusto-herrmann opened #123 "Greece: values in url column are not valid urls"
The [gr.csv](https://github.com/okfn/publicbodies/blob/master/data/gr.csv) dataset has many invalid entries in the `url` field, which makes it fail validation on Good Tables. At first glance, it seems like many of these are just domain names. In that case, adding a scheme part (https) should be enough.

[2021-10-01 15:06] augusto-herrmann opened #125 "Provide a description in the data package"
Currently, `datapackage.json` does not have a description. So in the [livemark listing of data packages](https://data-packages.frictionlessdata.io/) it appears like this:

![livemark-public-bodies](https://user-images.githubusercontent.com/1058414/135643405-cf7dd9fb-606b-4b06-905e-81b5743656b7.gif)

Fixing it should be just a matter of writing up a proper description and including it in `datapacka

[2021-10-08 20:12] augusto-herrmann opened #126 "Fix Nepal URLs"
Many URLs in the Nepal data are causing validation to fail. We should fix that so that the data passes validation.

There is a script in `scripts/maintenance` that should help with that.

[2021-10-08 20:14] augusto-herrmann opened #127 "Fix Italy data"
Many URLs in the Italy data are causing validation to fail. We should fix that so that the data passes validation.

There is a script in `scripts/maintenance` that should help with that.

[2021-10-08 20:14] augusto-herrmann opened #128 "Fix Sweden URLs"
Many URLs in the Sweden data are causing validation to fail. We should fix that so that the data passes validation.

There is a script in `scripts/maintenance` that should help with that.

[2021-10-10 22:10] augusto-herrmann commented on #123
Goodtables reports that there are still some invalid URLs there.

[2021-10-17 09:56] #126 closed

[2021-10-17 10:05] augusto-herrmann opened #132 "Update and automate extraction of data from Italy"
As @traversaro mentioned in #127, the new sources for the Italy dataset are in the following URLs:

* https://indicepa.gov.it/ipa-dati/dataset/amministrazioni
* https://indicepa.gov.it/ipa-dati/dataset/enti

We should update or refactor the existing script in `scripts/import/it` to consume data from the new sources and schedule it to automatically update with Github Actions, as is currently done f

[2021-10-18 12:11] #128 closed

[2021-10-18 12:31] augusto-herrmann opened #135 "Migrate data validation tool from GoodTables to Frictionless Repository"
[Frictionless Repository](https://repository.frictionlessdata.io/) is the successor to GoodTables.io which uses Github Actions to validate data in Github repositories for continuous data integration. As planned in [frictionless/repository#10](https://github.com/frictionlessdata/repository/issues/10), we should migrate data validation of this repository to the new service.

[2022-03-02 01:56] augusto-herrmann commented on #74
Considering that the IATI codelist is no longer maintained (as highlighted by @PetyaKangalova above), and that we are already present at its successor list ([org-id.guide](http://org-id.guide/list/XI-PB)), if no one has any objections (esp. @danfowler, @timgdavies & @rufuspollock who were involved when opening it), I'll soon close this issue as solved.

[2022-03-02 02:04] augusto-herrmann commented on #60
I'm closing this old issue as solved, because current data sources that have import scripts are already present at the [import/scripts](https://github.com/okfn/publicbodies/tree/master/scripts/import) folder.

[2022-03-02 02:04] #60 closed

[2022-03-02 02:16] augusto-herrmann opened #138 "Prepare the publicbodies.org ODD 2022 Sprint"
The [Open Data Day](https://opendataday.org) 2022 is only a few days from now and it would be nice to do a sprint for publicbodies.org. For that, we need to prepare a few things:

* [x] choose a messaging tool for organizing the event (we're using the Matrix channel [#publicbodies.org:matrix.org](https://matrix.to/#/#publicbodies.org:matrix.org))
* [ ] agree upon a schedule (there are people inter

[2022-03-05 00:17] augusto-herrmann commented on #138
Since not even one person expressed interest in participating in this proposed activity, I'm now cancelling the proposed Open Data Day workshop.

[2022-03-05 00:17] #138 closed

[2022-03-10 10:52] mattiasaxell commented on #138
@augusto-herrmann Can it maybe work if we make a RSVP-link with dates that are 1-2 months ahead? Or if we join to discuss the issue at a Friday coffee break with govdirectory.org? Link and info: https://www.wikidata.org/wiki/Wikidata:WikiProject_Govdirectory/Events

I see MySociety, Alaveteli network, OK network, Wikidata and GovDirectory as relevant actors to be invited. Perhaps also groups from

[2022-03-15 10:58] morisy commented on #138
I'd also be interested in scheduling out for a future date! my username at gmail is best email.

[2022-03-18 18:12] augusto-herrmann commented on #138
Actually, we did do an [activity](https://github.com/augusto-herrmann/opendataday-publicbodies-nepal/) planned in the last minute on the Open Data Day with Open Knowledge Nepal, thanks to @nikeshbalami.

@mattiasaxell, great idea! Are you already in contact with some of these groups? Would you be willing to arrange this with them?

@morisy, how about we discuss this in the Matrix chat [#publicbodi

[2022-03-25 13:34] augusto-herrmann opened #141 "Fix IT import script"
The [script that imports data from Italy](https://github.com/okfn/publicbodies/blob/master/scripts/import/it/importIT.py) raises an error:

[code]

Looks like a column does not exist in the source data anymore.

We should fix it by replacing the absent column with an existing column, if available. If not, just give up using the data from the absent column.

[2022-03-25 13:37] #74 closed

[2022-03-26 18:59] augusto-herrmann opened #143 "Fix malformed e-mails"
Right now data package validation [fails](https://repository.frictionlessdata.io/report/?user=okfn&repo=publicbodies&flow=publicbodies&run=2040279333) because the data contain some invalid e-mail addresses in the `email` field.

Fix those e-mails where possible and delete them where the correct e-mail cannot be determined, such that the data validation will pass.

[2022-03-26 20:59] #143 closed

[2022-03-29 01:28] augusto-herrmann opened #146 "Nepal: add import scripts and schedule"
The Nepal data has been updated once, but for the data to stay up-to-date we still need to include the data import scripts and schedule them in a Github Actions workflow.

[2022-03-29 13:28] augusto-herrmann commented on #146
@nikeshbalami do you think the code you used to convert the data would be good for a PR so we can automate this data collection?

If not, don't worry, when I have some time I'll adapt it from [the scraping code](https://github.com/augusto-herrmann/opendataday-publicbodies-nepal) we did on ODD.

[2022-04-02 18:28] #132 closed

[2022-04-03 14:03] augusto-herrmann opened #149 "Bot trying to update 2 data sources simultaneously creates conflict"
The bot is running 2 jobs in parallel to update 2 different data sources. They both checkout git at the same time, and then try to update git with diverging histories, causing conflict.

Bots should either fetch & rebase git right before commiting or should run the jobs in sequential order.

[2022-04-03 14:04] #106 closed

[2022-04-04 23:54] #149 closed

[2022-04-10 11:36] mattiasaxell commented on #138
Great! I saw some activity!

@augusto-herrmann Yes I am. I will send out a Framadate link to all of you to book a date and time for a meeting. Will try to think of what can work in terms of meeting time for Brazil, U.S., England, Sweden.

@morisy You're more than welcome to join the chat!

[2022-04-13 18:40] augusto-herrmann opened #151 "Fix infinite redirect and get site back online"
Right now when accessing the site the user gets infinite redirects, which make it inaccessible.

![publicbodies-org-error](https://user-images.githubusercontent.com/1058414/163247650-eb72bcf5-b152-4fec-86de-b7ec94a6bf15.png)

We should fix the site deployment ASAP.

Judging by the headers it could be some kind of problem with CloudFlare.

[2022-04-13 18:48] augusto-herrmann commented on #68
@jpmckinney @rufuspollock the problem is that data sources often do not provide a `founding_date` and almost never a `dissolution_date`.

Right now, with the data sources that have already been automated, we just delete the missing entries when bringing in new data, i.e. the whole list gets replaced by the new version. Since we're tracking the csv in git, this is not much of a problem unless we wa

[2022-05-03 13:56] augusto-herrmann opened #152 "Keep running update process even if step fails"
The last three automatic data updates have failed because the Brazilian data update fails (the portal returns a server error).

The current Github Actions workflow makes it so that, if a step fails, the next steps are aborted.

Having separate workflows would solve that, but then we have the problem of needing to rebase the repository before merging each update. Another possible solution is to kee

[2022-05-05 21:25] todrobbins commented on #151
Could be... Do you have Heroku access now? Also, could be a DNS issue maybe?

[2022-05-08 12:57] #152 closed

[2022-05-19 04:30] augusto-herrmann opened #154 "Convert website to Jekyll + Github Pages + Github Actions"
Converting the site to a statically generated Jekyll site, hosted on Github Pages and built / updated by Github Actions would forego with the current hosting costs on Heroku as well as improve the site reliability.

[2022-05-19 04:34] augusto-herrmann commented on #151
No, Heroku has changed its terms of use recently and I've decided to delete my account because of that.

I have already started working on converting the site to a statically generated Jekyll site (issue #154 on branch [jekyll-site](https://github.com/okfn/publicbodies/tree/jekyll-site)) so we can host it on Github Pages instead.

Once it is done we will still need to change the DNS to point it to

[2022-05-19 06:59] todrobbins commented on #151
Sounds good! I'll take a look at the new branch. DNS changes will need to come from @loleg

[2022-06-27 04:28] augusto-herrmann opened #155 "Implement retry in data import scripts"
Data import scripts are failing when an http request for data fails. They should be configured to retry at least a few times before giving up, considering that servers may have slow, unstable or otherwise unreliable connections.

[2022-07-10 23:12] augusto-herrmann opened #156 "Automatic parallel updates conflict with each other"
Both automatic data update processes (Brazil and Italy) run in parallel but, depending on the timing of execution may cause a merge conflict in git and fail one of them. Considering that different files are being updated, a solution that won't break one of them shouldn't be to difficult to figure out.

[2022-07-11 17:56] #156 closed

[2022-07-12 13:14] augusto-herrmann commented on #135
The old GoodTables validation is still concurrently active, as can be seen when you mouse hover any of the latest commits. So I'm reopening this.

The cause of the problem is that the WebHook in this repo is still active. And I don't have the permission to go into "settings" to remove it.

Here's a screenshot of another repo where I do have the permission to go into settings:

![github-webhooks](h

[2022-07-12 13:39] #135 closed

[2022-07-12 15:28] augusto-herrmann commented on #135
Thanks, @aivuk!

[2022-08-30 19:01] augusto-herrmann commented on #151
Hi @amercader!

With PR #158 we're ready to move on to Github Pages. I think we should change the DNS already, the site on Heroku has been offline for a few months anyway.

[2022-08-31 12:02] augusto-herrmann commented on #151
In addition to the DNS change, to make Github Pages work someone would need to configure it in the "Settings" tab of this repository, which I do not have access to.

[2022-08-31 14:51] amercader commented on #151
@augusto-herrmann you should be an admin for this repo now
I've updated the DNS to point to Github pages

[2022-08-31 20:44] augusto-herrmann commented on #151
Thanks, @amercader!

I'm in a hurry right now but should work in getting the site back online as soon as I can.

[2022-09-02 04:26] #154 closed

[2022-09-02 04:26] #151 closed

[2022-09-02 04:38] augusto-herrmann opened #159 "Rename `master` branch to `main`"
As per usual in Github repositories, we should name the default branch `main`.

[2022-09-02 04:58] augusto-herrmann opened #160 "Greece: values in `id` field are not sluggable"
The values in the `id` field should be fit for composing the site URLs. Should replace by slugs with `sluggify`.

[2022-09-02 04:58] augusto-herrmann commented on #159
Done.

[2022-09-02 04:58] #159 closed

[2022-09-02 12:51] augusto-herrmann opened #161 "Github Pages build takes too long and times out"
The Jekyll build process is failing because it takes too long and times out.

We need a workaround to make the build pass and get the site back online.

[2022-09-03 03:46] #161 closed

[2022-09-04 20:50] augusto-herrmann opened #163 "Data update scripts are still using the master branch"
We renamed `master` to `main` (#159), but the data update scripts are still configured to use the old `master` branch.

[2022-09-04 20:53] augusto-herrmann opened #164 "CSV download button still points to `master` branch"
We renamed master to main (https://github.com/okfn/publicbodies/issues/159), but the CSV download buttons still point to the old `master` branch.

[2022-09-04 20:58] augusto-herrmann commented on #163
The checkout [is already from the main branch](/okfn/publicbodies/blob/main/.github/workflows/update_data.yml#L21)... :thinking:

[2022-09-04 21:01] #164 closed

[2022-09-06 01:48] #163 closed

[2022-09-07 02:29] #160 closed

[2022-09-07 14:23] augusto-herrmann opened #168 "Github Pages default Jekyll deploy does not render some pages properly"
Github Pages default Jekyll deploy script is probably an older version of Jekyll and does not render the site properly. For example, the lists of bodies for each jurisdiction do not appear.

To solve the problem, we need a different build process that uses the same Jekyll version (4.2.0) as in the development build instructions in the README.

[2022-09-23 02:29] augusto-herrmann opened #169 "Commit, push & rebase GH Action not working on `main` branch"
The Github Action [benkaiser/rebase-commit-push](https://github.com/benkaiser/rebase-commit-push) keeps trying to update a no longer existing `master` branch, despite the parameters being set to update the `main` branch.

Apparently this is a bug in the GH Action, as [the environment variable](https://github.com/benkaiser/rebase-commit-push/blob/master/action.yml#L52) for the `branch` parameter is

[2022-09-30 23:17] #169 closed

[2022-10-27 04:42] dpriskorn commented on #138
What time zone is it?

[2022-10-27 06:13] salgo60 commented on #138
[CET](https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic/event/webinar-dedicated-review-core-vocabularies-27th-october-1030-cet)

[2022-10-27 06:23] dpriskorn commented on #138
Planerar delta 😀

[2022-10-27 07:47] salgo60 commented on #138
Do they know the WD work that is done
* [Wikidata:WikiProject_Country_subdivision/Items](https://www.wikidata.org/wiki/Wikidata:WikiProject_Country_subdivision/Items)
* [Wikidata:WikiProject every politician](https://www.wikidata.org/wiki/Wikidata:WikiProject_every_politician)

[2022-10-30 13:23] augusto-herrmann commented on #138
Thanks for the heads up, @mattiasaxell.

I also received an invitation by email. Unfortunately, it was on too short notice (less than 24 hours) and I already had other commitments at the day. The lack of time zone information was also confusing – I only saw the answers in this thread after the event.

Can anyone who participated comment on how the work group meeting was?

[2022-11-03 10:41] dpriskorn commented on #138
It was my first time in that type of meeting. They talked a lot about fine details in the RDF data model.
I found the whole thing quite pointless since instead of reinventing the wheel they could just link to a Wikibase or Wikidata where the information is stored.
OSM and Wikidata already solved all the issues they seem to have in their model 🤷‍♂️
These days having an ontology outside of a Wikibas

[2022-11-03 11:07] salgo60 commented on #138
@dpriskorn  I agree I see a #Linkeddata anti pattern that we have people just speaking about RDF and nothing gets delivered
* **good patterna I have see**
  * WIkidata was done **2012 with a small very skilled team with a focus on deliver**
     * done fast - [start 1 april 2012. delivered oct 2012](https://www.linkedin.com/pulse/wikidata-turns-10-denny-vrande%25C4%258Di%25C4%2587)
     * based on

[2022-11-06 13:22] augusto-herrmann opened #172 "Site gives 404 error"
I've just noticed that the website is giving a 404 error. Should fix this ASAP.